$color:(

    soft-white: #eeeeed,
    soft-black:#212121,
    white: #feffff,
    grey: rgba(50, 48, 48, 0.777),
    soft-gray: rgba(87, 85, 85, 0.71),
    purple: rgba(50, 23, 75, 0.362),

    body-background: rgba(255, 255, 255, 0.782),

    form: rgba(128, 91, 171, 0.394),
    input-white: #eeeeed73,

    navbar-background: rgb(0, 0, 0),
    navbar-border: rgb(42, 41, 43),

    footer: rgb(99, 74, 127),

    border: rgba(129, 89, 157, 0.32),

    btn: rgba(187, 147, 210, 0.127),


    input-background: rgba(131, 104, 147, 0.127),
    input-btn: rgba(120, 84, 138, 0.459),

    selection-background: rgba(139, 139, 166, 0.3),
    selection: rgb(122, 101, 157),

);

